/* 
.container a {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #0078e7;
} */

.header {
    background-color: #2734c9; 
    /* background-color: #FFA500;  */
    color: #fff; 
    margin-left: 0%;
    margin-right: 0%;
    padding: 10px;
    width: auto;
    
}
.footer{
    text-align: center;
    background-color: #2734c9; 
    color: #fff; 
    /* padding: 10px; */
}
.text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5) to your preference */
    color: white;
    padding: 10px;
    width: 40%;
    height: 100%;
}